.title-color {
    color: #4A4A4A;
}

.price-color {
    color: #289BDE;
}

.title-color {
    color: #4A4A4A;
    font-size: 25px;
}

.card-text {
    color: #777777;
    font-size: 16px;
}

.pg-text-color {
    color: #777777;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.review-header {
    color: #1D1D1D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.carousel-heder {}

.carousel-text {
    color: #777777;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.brand-text {
    color: #1D1D1D;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.ul-text {
    color: #777777;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.name-text {
    color: #1D1D1D;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.deg-text {
    color: #777777;
    font-size: 7px;
    font-family: 'Poppins', sans-serif;
}

.rating-color {
    color: #F59E0B;
}

.last-star-color {
    color: #FCD34D;
}

.arrow-icon {
    font-size: 35px;
    margin: 0;
    padding: 0;
}