.title-color {
    color: #4A4A4A;
}

.price-color {
    color: #289BDE;
}

.title-color {
    color: #4A4A4A;
    font-size: 25px;
}

.card-text {
    color: #777777;
    font-size: 16px;
}

.pg-text-color {
    color: #777777;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.review-header {
    color: #1D1D1D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
}